/* ======================
  MAIN STYLES
====================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

/* ======================
  POPUP STYLES
====================== */

.popup-message {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-size: 14px;
    opacity: 0;
    transform: translateY(20px);
    z-index: 9999;
    animation: popupAnim 3s forwards;
}

/* Animatie keyframes */
@keyframes popupAnim {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* ======================
  HEADER STYLES
====================== */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: black;
  z-index: 10;
}

header a {
  display: flex;
  align-items: center;
}

header img {
  height: 120px;
  width: auto;
}

/* Navigation */
header nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Vierkante knoppen */
header nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #e60000;
  padding: 12px 20px;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}

/* Button Hover */
header nav a:hover {
  background-color: #b30000;
}

/* ======================
      HOMEPAGE STYLES
   ====================== */

/* home Section */
.home-film {
    display: flex;
    padding: 50px;
    background: url('../images/fear-home.jpg') no-repeat center/cover;
}

.home-content {
    flex: 1;
    max-width: 600px;
}

/* Titel */
.home-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

/* Jaar */
.year {
    font-weight: bold;
    color: #e60000;
    display: block;
    margin-bottom: 15px;
}

/* Beschrijving */
.home-content p {
    margin-top: 0;
    font-size: 1.1rem;
}

/* Verwijs knop */
.home-content a {
    display: inline-block;
    background-color: #e60000;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Video */
.home-video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CAROUSEL */
.carousel {
  padding: 20px 50px;
}

.carousel h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

.carousel-wrapper {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.slide img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;     
  cursor: pointer;
  transition: transform 0.3s;
}

.slide img:hover {
  transform: scale(1.1);  /* vergroot poster bij hover */
}


/* ======================
      LOGIN & REGISTER STYLES
   ====================== */
.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.register-container {
    flex: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.form-container {
    background: #000000;
    padding: 45px 35px;
    width: 450px;
    border-radius: 16px;
    border: 2px solid #e60000;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.form-container-error {
    background: #000000;
    padding: 45px 35px;
    width: 450px;
    border-radius: 16px;
    border: 2px solid #e60000;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
    animation: errorShake 0.6s ease forwards;
}

.form-container-error2 {
    background: #000000;
    padding: 45px 35px;
    width: 450px;
    border-radius: 16px;
    border: 2px solid #e60000;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
    animation: errorShake2 1s ease forwards;
}
/* form error animatie */
@keyframes errorShake {
    0% {
        border-color: #e60000;
        transform: translateX(0);
    }
    20% {
        border-color: #821021;
        transform: translateX(-5px);
    }
    40% {
        border-color: #821021;
        transform: translateX(5px);
    }
    60% {
        border-color: #821021;
        transform: translateX(-5px);
    }
    80% {
        border-color: #821021;
        transform: translateX(5px);
    }
    100% {
        border-color: #e60000;
        transform: translateX(0);
    }
}

/* form confirm animatie */
@keyframes errorShake2 {
    0% {
        transform: scale(1);
        border-color: #e60000;
        opacity: 1;
    }
    20% {
        transform: scale(1.05);
        border-color: #10bd0d;
    }
    50% {
        transform: scale(1);
        border-color: #10bd0d;
    }
    80% {
        transform: scale(1);
        border-color: #10bd0d;
    }
    100% {
        transform: scale(1);
        border-color: #e60000;
    }
}

/* Form titel */
.form-container h2 {
    margin-bottom: 30px;
    color: #e60000;
    font-size: 28px;
}

.form-container-error h2 {
    margin-bottom: 30px;
    color: #e60000;
    font-size: 28px;
}

.form-container-error2 h2 {
    margin-bottom: 30px;
    color: #e60000;
    font-size: 28px;
}

/* Input styles */
.input-group {
    text-align: left;
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group input:focus {
    border-color: #e60000;
    box-shadow: 0 0 8px rgba(0,123,255,0.3);
    outline: none;
}

/* login/register doorverwijzing text */
.name-row,
.contact-row {
    display: flex;
    gap: 15px;
}

.name-row .input-group,
.contact-row .input-group {
    flex: 1;
    min-width: 0;
}

.small-text,
.back-link {
    color: white;
    text-align: left;
    font-size: 14px;
    margin: 12px 0;
}

.small-text a,
.back-link {
    color: #e60000;
    text-decoration: none;
    font-weight: 500;
}

.small-text a:hover,
.back-link:hover {
    text-decoration: underline;
}

/* text error */
.error-text {
    color: #ff0026;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 0;
    animation: showError 0.6s ease forwards;
}
/* text confirm */
.error-text2 {
    color: #10bd0d;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 0;
    animation: showError2 2s forwards;
}

/* text error animatie */
@keyframes showError {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    50% {
        opacity: 1;
        transform: translateY(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* text confirm animatie */
@keyframes showError2 {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    50% {
        opacity: 1;
        transform: translateY(2px);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

/* Button styles */
.register-btn,
.login-btn {
    width: 100%;
    padding: 14px;
    background: #e60000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
    transition: background 0.2s ease;
    flex: 1; 
}

.register-btn:hover,
.login-btn:hover {
    background: #b30000;
}


.button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 12px;
}

.reset-btn {
    padding: 10px 16px;
    background: #6c757d;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    width: 110px; /* reset kleiner */
    transition: background 0.2s ease;
}

.reset-btn:hover {
    background: #5a6268;
}

